<div class="span12" style="text-align: center;">
<div class="hero-unit">
  <div style="padding-bottom: 20px; padding-top: 20px">
  <i class="icon-map-marker" style="font-size: 150px"></i>
  </div>
  </br>
<h1 style="padding-bottom: 10px; font-size: 40px"">This is </br> 10 Places</h1>
<h4 class="lead">Discover, create and share your top places to play</h4>
<%= link_to "/auth/facebook", class: "btn btn-primary btn-large btn-block", :style => "font-size: 15px;" do %>
<i class="icon-facebook-sign"></i> Sign in with Facebook
<% end %></div>
<p>


</p>

<%= link_to "test user login", test_login_path %>
</div>