<p class="lead">Nearby Results</p>
<ul class="nav nav-tabs nav-stacked">
<% @venue_results.each do |venue| %>
    <li>
        <%= link_to create_venue_path(:foursquareid => venue["id"], :name => venue["name"], :lat => venue["location"]["lat"], :long => venue["location"]["lng"], :address => venue["location"]["address"], :city => venue["location"]["city"], :list_id => @list_id), :method => :post do %>
         <%= venue["name"]%>  <%=venue["location"]["address"] %> <%= venue["location"]["city"] %>
         
        <% end %>
        
    </li>
<% end %>
</ul>